{
    "semi": false,
    "singleQuote": true,
    "jsxSingleQuote": true,
    "trailingComma": "all",
    "tabWidth": 4,
    "printWidth": 140,
    "bracketSpacing": true,
    "arrowParens": "always"
}
